body {
  margin: 0;
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 8px;
}

li {
  display: inline;
  padding: 0.3em;
  font-size: 1.2em;
}

.listIcons {
  color: #ffff;
}

.info-content {
  color: #ffff;
  margin-left: 25%;
}

.main-container {
  margin-top: 50px;
  max-width: 100%;
}

.main {
  margin-top: 200px;
  margin: 0 auto;
  width: 88vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

p {
  margin-top: 5px;
}

h1 {
  font-size: 3em;
}
.separator {
  padding-bottom: 10px;
}
.info-content span {
  color: aqua;
  width: 100%;
}

.downloadCv {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}

.downloadCv:hover {
  background-color: #ffff;
  box-shadow: none;
}

.main img {
  border: 7px solid aqua;
  margin-left: 20%;
  border-radius: 5%;
}

a:hover {
  background-color: #27817e;
  transition: ease-in 0.4s;
}
@media (max-width: 480px) {
  .brand h2 {
    font-size: 1.5em;
  }

  a {
    padding: 8px 10px;
  }

  .content {
    padding: 10px;
    max-width: 100%;
  }

  .main {
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
  }
  .main img {
    width: 75px;
    border: 2px solid aqua;
    margin-left: 0%;
  }

  .info-content {
    margin-left: 3%;
    max-width: 250;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
