<div class="main-container">
  <main class="main">
    <div class="info-content">
      <div class="separator">
        <h1 class="padding: 5px">I'm <span>Gustavo</span> Cisneros</h1>
      </div>
      <div class="separator">
        <p>Engineering in Information Technologies</p>
        <p><fa-icon [icon]="faLocationDot"></fa-icon> Santa Elena, Ecuador</p>
        <p><fa-icon [icon]="faCalendarDays"></fa-icon> 22 DECEMBER 2002</p>
        <p>
          <fa-icon [icon]="faEnvelope"></fa-icon>
          gustavo.cisnerosmatias@gmail.com
        </p>
      </div>
      <div class="separator">
        <ul>
          <li>
            <a
              href="https://www.facebook.com/gustavos.cisneros.10/"
              target="_blank"
            >
              <fa-icon [icon]="faFacebook" class="listIcons"></fa-icon>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/gustavo-cisneros-b389992ab/"
              target="_blank"
            >
              <fa-icon [icon]="faLinkedin" class="listIcons"></fa-icon>
            </a>
          </li>
          <li>
            <a href="https://github.com/GustavoCisnerosMatias" target="_blank">
              <fa-icon [icon]="faGithub" class="listIcons"></fa-icon>
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/gustavos.cisneros.10/"
              target="_blank"
            >
              <fa-icon [icon]="faInstagram" class="listIcons"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
      <div class="button-container">
        <a download="CV.pdf" href="./assets/CV.pdf">
          <button class="downloadCv">Download CV</button>
        </a>
      </div>
    </div>
    <img src="./assets/lml5.jpg" />
  </main>
</div>
