<div class="container">
  <div class="centered-container">
    <h3 class="Icon"><fa-icon [icon]="faLaptopCode"></fa-icon> Technologies</h3>
  </div>
  <div>
    <ul>
      <li>
        <img src="./assets/java.png" />
        <span class="description">Java</span>
      </li>
      <li>
        <img src="./assets/python.png" />
        <span class="description">Python</span>
      </li>

      <li>
        <img src="./assets/sql.png" />
        <span class="description">SQL</span>
      </li>
      <li>
        <img src="./assets/nestjs.png" />
        <span class="description">NestJS</span>
      </li>
      <li>
        <img src="./assets/angular.png" />
        <span class="description">Angular</span>
      </li>
      <li>
        <img src="./assets/firebase.png" />
        <span class="description">Firebase</span>
      </li>
      <li>
        <img src="./assets/docker.svg" />
        <span class="description">Docker</span>
      </li>
    </ul>
  </div>
</div>
