<app-navbar></app-navbar>

<div id="inicio">
  <app-about></app-about>
</div>

<div id="sobre-mi">
  <app-sobre-mi></app-sobre-mi>
</div>

<div id="proyectos">
  <app-projects></app-projects>
</div>

<div id="experiencia">
  <app-experience></app-experience>
</div>

<div id="habilidades">
  <app-technologies></app-technologies>
</div>

<div id="certificados">
  <app-certificates></app-certificates>
</div>

<div id="contacto">
  <app-contact></app-contact>
</div>

<app-footer></app-footer>

<app-chat></app-chat>
