* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
app-root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #191c32;
}
html,
body {
  width: 100%;
}

.body {
  background-size: 100vh;
}
